
body {
  margin: 0;
  overflow: hidden;
}
header, footer {
  width: 100%;
  background-color: #a78a77;
  color: white;
  padding: 0.01em 1em;
  margin: 0;
}
h3{
  margin: 0.7em 0.5em;
  font-family: 'Times New Roman', serif; 
}
main{
  margin: 0 auto;
  width:1000px;
}
p{
  font-family: 'Times New Roman', serif; 
}
a{
  color: black;
}
.zoom{
  display: flex;
  margin: 1em 3em;
  margin-bottom: 0;
}
.canvases{
    display: flex;
    justify-content: center;
    margin: 0.5em auto;
    width:900px;
    height:550px;
    background-color: rgb(241, 229, 216);
}
.canvas{
    margin: auto;
    position: absolute;
    width:900px;
    height:550px;
}
#mark {
  border: 1px solid rgb(115, 115, 115);
}
#document {
    background-color: rgb(230, 230, 230);
    scale: 1;
}
#content {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
footer {
  position: fixed;
  bottom: 0;
}
footer p {
  margin: 0.6em;
  font-size: 90%;
}
