
body {
  margin: 0;
  overflow: hidden;
}
header {
  width: 100%;
  background-color: #787878;
  color: white;
  padding: 0.01em 1em;
  margin: 0;
}
main{
  margin: 0 auto;
  width:1000px;
}
.zoom{
  display: flex;
  margin: 1.5em 3em;
  margin-bottom: 0;
}
.canvases{
    display: flex;
    justify-content: center;
    margin: 0.5em auto;
    width:900px;
    height:550px;
    background-color: rgb(241, 229, 216);
}
.canvas{
    margin: auto;
    position: absolute;
    width:900px;
    height:550px;
}
#mark {
  border: 1px solid rgb(115, 115, 115);
}
#document {
    background-color: rgb(233, 225, 239);
    scale: 1;
}
#content {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
